<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FeedFlow.Web</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<nav class="nav flex-column p-3">
    <NavLink href="/" Match="NavLinkMatch.All" class="nav-link">Home</NavLink>
    <NavLink href="/feeds" class="nav-link">Feeds</NavLink>
    <NavLink class="nav-link" href="/settings">Settings</NavLink>
    <a class="nav-link" href="/hangfire" target="_blank">Jobs</a>
    <NavLink class="nav-link" href="/products">Products</NavLink>
</nav>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
